# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/terraform.tfvars


# Local / env / secrets
.env
.env.*
*.pem
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
.Python
*.so
venv/
.venv/
env/

# IDE / editors
.idea/
.vscode/
*.swp
*.swo
*~

# OS / misc
Thumbs.db
*.log
.Rhistory

# Office temp (e.g. ~$Problem Statement.docx)
~$*
